<div class="row">
  <% if !user_signed_in? %>
    Please sign in!
  <% else %>
    <% if @needs_payment %>
     <%= link_to "Please pay", new_charge_path, class: "btn btn-primary" %>
    <% else %>
      Thank you for the payment!
    <% end %>
  <% end %>
</div>
